// Alert styles, overrides default bootstrap
// styles for positioning
.alert-container {
  position: absolute;
  top: 5px;
  left: 10px;
  right: 10px;
  font-size: 14px;
  z-index: 10; }

  .alert-container .alert {
    width: 80%;
    margin: auto;
    word-wrap: break-word;
    padding-right: 35px; }

    .alert-container .alert .alert-dismissable {
      .close {
        right: auto; }}
